<div><h3>Export Data_Rows</h3></div>
<div>
    <label class="filename">File :</label>
<select class="mulselect" multiple>
    {% for file in files %}
  <option id="{{file.id}}" value="{{file.filename}}">{{file.filename}}</option>
 {% endfor %}
</select>
<h4>columns tobe combined</h4>
    <div class="list_file">

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script>
$(document).ready(function(){
    $(".mulselect").change(function(){
        var ids = $(this).val();
        $.ajax({
           url:'{% url 'app:export' %}',
           type:'POST',
           data:{method_type: "get_files",ids: ids,'csrfmiddlewaretoken':'{{csrf_token}}'},
           success:function(data){
            if (data.status==true){
                $(".list_file").empty();
                $(".list_file").html(data.demo_data);
            }
            }
       });
    });
});

</script>